

			<!-- ======= About Section ======= -->
			<section
				id="about" class="about">

{% include "home/aboutMe.html.twig" %}

{% include "home/counts.html.twig" %}

{% include "home/skills.html.twig" %}

{% include "home/interests.html.twig" %}

{% include "home/testimonials.html.twig" %}






			</section>
			<!-- End About Section -->