{% extends 'base.html.twig' %}

{% block title %}Web-artisanat
{% endblock %}

{% block body %}

	{% block main %}
	{# message flash sucess #}

	        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

		{% include "home/_header.html.twig" with {'nav': nav, 'social': social} %}
		{% include "home/_about.html.twig" with {'about': about, 'infoNumber': infoNumber, 'interests': interests, 'team': team, 'skills':skills, 'skills_section' : skills_section } %}
		{% include "home/_resume.html.twig" with {'cv' : cv } %}
		{% include "home/_service.html.twig" with {'seriveces' : services} %}
		{% include "home/_portfolio.html.twig" with {'portfolio' : portfolio } %}
		{% include "home/_contact.html.twig" %}
	{% endblock %}
{% endblock %}

