				<!-- ======= Interests ======= -->
				<div class="interests container">

					<div class="section-title">
						<h2>Interests</h2>
					</div>

					<div class="row">
{% for item in interests %}
						<div class="col-lg-3 col-md-4 mt-4 mt-md-0 pb-lg-2">
							<div class="icon-box">
								<i class="fa-solid fa-{{item.linkIcon}}" style="color: {{item.styleColor}};"></i>
								<h3>{{item.name|capitalize }}</h3>
							</div>
						</div>
{% endfor %}
					</div>

				</div>
				<!-- End Interests -->
